::-webkit-scrollbar {
    width: 0.8rem;               /* width of the entire scrollbar */
  }
  
::-webkit-scrollbar-track {
    background:var(--color-2);
  }
  ::-webkit-scrollbar-thumb {  
   background: var(--background-color-box-one);
   
  }